{% extends "layouts/main.html" %}

{% block content %}

<style>
    .govuk-heading-l {
        margin-top: 16px;
    }

    .govuk-summary-list__value {
        padding-left: 80px; /* Increased margin to move text further to the right */
        width: 320px; /* Set a fixed width for the value column */
    }

    .govuk-summary-list__key {
        width: 420px; /* Set a fixed width for the key column */
    }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <a href="javascript:history.back()" class="govuk-back-link">Back</a>


        <h1 class="govuk-heading-l">Check your answers</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Upload photos of the property
                </dt>
                <dd class="govuk-summary-list__value">
                    photo1.png <br />
                    photo2.png <br />
                    photo3.png
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question1-file-upload.html">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Is the property a New Build?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question2-radio.html">Change<span class="govuk-visually-hidden"> date of birth</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    When did construction of the property start?
                </dt>
                <dd class="govuk-summary-list__value">
                    5 January 2023 (estimate)
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question3a-date-input.html">Change<span class="govuk-visually-hidden"> customer reference</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Has the construction of the property been completed?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question3aa-radio.html">Change<span class="govuk-visually-hidden"> customer reference</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    When did construction of the property finish?
                </dt>
                <dd class="govuk-summary-list__value">
                    5 January 2023 (estimate)
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question5-date-input.html">Change<span class="govuk-visually-hidden"> address</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    When did you become the legal owner of the property?
                </dt>
                <dd class="govuk-summary-list__value">
                    5 January 2023 (estimate)
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question6-date-input.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Did you own the property during the whole construction process?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question7-radio-area.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Can you provide more detail?
                </dt>
                <dd class="govuk-summary-list__value">
                    Testing
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question7-radio-area.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Did you carry out the construction of the property yourself?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question8-radio-area.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Can you provide more detail?
                </dt>
                <dd class="govuk-summary-list__value">
                    Testing
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question8-radio-area.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you have official documents about your self-build property?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question10-radio.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Upload documents about your self-build property
                </dt>
                <dd class="govuk-summary-list__value">
                    photo1.pdf <br />
                    photo2.pdf <br />
                    photo3.pdf
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question11a-file-upload.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Did the person(s) or company who sold or transferred the plot to you where your property was constructed take part in the design of the property?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question12-radio.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Was your New Build part of a development or designed (wholly or partially) by a property development company?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question13a-radio.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Please provide the name of the
                    person(s) and/or company who
                    designed (and/or built) your property
                </dt>
                <dd class="govuk-summary-list__value">
                    John Smith
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question14a-text-input.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Can you provide copies of the following documents?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question15-radio.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Provide copies of the following for your documents
                </dt>
                <dd class="govuk-summary-list__value">
                    photo1.pdf <br />
                    photo2.pdf <br />
                    photo3.pdf
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="question16a-file-upload.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
            </div>
        </dl>

        <button type="submit" class="govuk-button" data-module="govuk-button" onclick="location.href='/v01/complete-questionnaire/second-section-completed.html'">
            Save and continue
        </button>

        <br />
        <br />
        <p class="govuk-body">
            <a href="/v01/complete-questionnaire/second-section-incomplete.html" class="govuk-link govuk-link--no-visited-state">Finish later</a>
        </p>




    </div>
</div>

{% endblock %}
