{% extends "layouts/main.html" %}

{% block content %}

<style>
    .govuk-fieldset__heading {
        margin-top: 16px;
    }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <a href="javascript:history.back()" class="govuk-back-link">Back</a>

        <div id="error-container"></div>

        <div class="govuk-form-group" id="error-indicator">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        When did you become the legal owner of the property?
                    </h1>
                </legend>
                <div id="passport-issued-hint" class="govuk-hint">
                    For example, 24 5 2023. If you cannot remember the exact date, enter an estimate.
                </div>

                <!-- Error message container -->

                <span id="radio-error-message" class="govuk-error-message" style="display: none;">
                    <span class="govuk-visually-hidden">Error:</span> Enter the date you became the legal owner of the property
                </span>

                <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="when-did-you-give-consent" type="text" inputmode="numeric">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="when-did-you-give-consent" type="text" inputmode="numeric">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="when-did-you-give-consent" type="text" inputmode="numeric">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                    This is an estimate
                </label>
            </div>
        </div>

        <br />
        <br />

        <button type="submit" class="govuk-button" data-module="govuk-button" onclick="navigateBasedOnSelection()">
            Save and continue
        </button>

        <p class="govuk-body">
            <a href="/v01/complete-questionnaire/first-section-incomplete.html" class="govuk-link govuk-link--no-visited-state">Finish later</a>
        </p>


    </div>
</div>

<script>
    function navigateBasedOnSelection() {
        const errorContainer = document.getElementById('error-container');
        const errorIndicator = document.getElementById('error-indicator');
        const existingErrorSummary = document.getElementById('error-summary');
        const errorMessage = document.getElementById('radio-error-message');

        // Remove existing error summary if present
        if (existingErrorSummary) {
            existingErrorSummary.remove();
        }

        if (errorMessage) {
            errorMessage.style.display = 'none';
        }

        const dayInput = document.getElementById('passport-issued-day');
        const monthInput = document.getElementById('passport-issued-month');
        const yearInput = document.getElementById('passport-issued-year');

        // Check if any of the input fields are empty
        if (!dayInput.value.trim() || !monthInput.value.trim() || !yearInput.value.trim()) {
            const errorSummary = document.createElement('div');
            errorSummary.id = 'error-summary';
            errorSummary.className = 'govuk-error-summary';
            errorSummary.setAttribute('aria-labelledby', 'error-summary-title');
            errorSummary.setAttribute('role', 'alert');
            errorSummary.setAttribute('tabindex', '-1');
            errorSummary.innerHTML = `
              <h2 class="govuk-error-summary__title" id="error-summary-title">
                  There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                  <ul class="govuk-list govuk-error-summary__list">
                      <li>
                          <a href="#passport-issued">Enter the date you became the legal owner of the property</a>
                      </li>
                  </ul>
              </div>
          `;
            errorContainer.prepend(errorSummary);
            errorSummary.focus();

            if (errorMessage) {
                errorMessage.style.display = 'block';
                errorIndicator.className = 'govuk-form-group govuk-form-group--error';
            }
        } else {
            // Navigate to the next question if all fields are filled
            window.location.href = "question7-radio-area.html";
        }
    }
</script>


{% endblock %}
