{% extends "layouts/main.html" %}

{% block content %}

<style>
    .govuk-body {
        margin-bottom: 16px;
    }

    .govuk-list li {
        margin-bottom: 12px; /* Added spacing between links */
    }

    .anchor {
        margin-top: -16px;
    }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-inset-text govuk-!-margin-top-0">
            You must start with the property ownership and consent section.
        </div>

        <hr style="border: 1px solid #d6d8da;">

        <!--first link-->
        <br />
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0;">
                <a href="/v01/property-ownership-and-consent/question1" class="govuk-link govuk-link--no-visited-state">Property ownership and consent</a>
            </p>
            <strong class="govuk-tag govuk-tag--green">
                Completed
            </strong>
        </div>
        <br />
        <hr style="border: 1px solid #d6d8da;">

        <!--second link-->
        <br />
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0;">
                <a href="#" class="govuk-link govuk-link--no-visited-state">Property type</a>
            </p>
            <strong class="govuk-tag govuk-tag--grey">
                Not started
            </strong>
        </div>
        <br />
        <hr style="border: 1px solid #d6d8da;">

        <!--third link-->
        <br />
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0;">
                <a href="#" class="govuk-link govuk-link--no-visited-state">Installed renewable heat technology</a>
            </p>
            <strong class="govuk-tag govuk-tag--grey">
                Not started
            </strong>
        </div>
        <br />
        <hr style="border: 1px solid #d6d8da;">

        <!--fourth link-->
        <br />
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0;">
                <a href="#" class="govuk-link govuk-link--no-visited-state">Heating system purchase and installation</a>
            </p>
            <strong class="govuk-tag govuk-tag--grey">
                Not started
            </strong>
        </div>
        <br />
        <hr style="border: 1px solid #d6d8da;">

        <!--fifth link-->
        <br />
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0;">
                <a href="#" class="govuk-link govuk-link--no-visited-state">Energy performance certificate (EPC)</a>
            </p>
            <strong class="govuk-tag govuk-tag--grey">
                Not started
            </strong>
        </div>
        <br />
        <hr style="border: 1px solid #d6d8da;">

        <!--sixth link-->
        <br />
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0;">
                <a href="#" class="govuk-link govuk-link--no-visited-state">Upload documents</a>
            </p>
            <strong class="govuk-tag govuk-tag--grey">
                Not started
            </strong>
        </div>
        <br />
        <hr style="border: 1px solid #d6d8da;">

        <br />
        <br />

    </div>
</div>

{% endblock %}
