{% extends "layouts/main.html" %}

{% block content %}

<style>
    .govuk-body {
        margin-bottom: 16px;
    }

    .govuk-list li {
        margin-bottom: 12px; /* Added spacing between links */
    }

    .anchor {
        margin-top: -16px;
    }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-inset-text govuk-!-margin-top-0">
            You've told us you're not the property owner. Email us at <a class="govuk-link" href="mailto:BUSDeskAudit@ofgem.gov.uk">BUSdeskaudit@ofgem.gov.uk</a> if you have any questions.
</div>

        <hr style="border: 1px solid #d6d8da;">

        <!--first link-->
        <br />
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0;">
                <a href="/v01/property-ownership-and-consent/question1" class="govuk-link govuk-link--no-visited-state">Property ownership and consent</a>
            </p>
            <strong class="govuk-tag govuk-tag--green">
                Completed
            </strong>
        </div>
        <br />
        <hr style="border: 1px solid #d6d8da;">

        <!--second link-->
        <br />
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0;">
                Property type
            </p>
            <strong class="govuk-tag govuk-tag--orange">
                Locked
            </strong>
        </div>
        <br />
        <hr style="border: 1px solid #d6d8da;">

        <!--third link-->
        <br />
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0;">
                Installed renewable heat technology
            </p>
            <strong class="govuk-tag govuk-tag--orange">
                Locked
            </strong>
        </div>
        <br />
        <hr style="border: 1px solid #d6d8da;">

        <!--fourth link-->
        <br />
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0;">
                Heating system purchase and installation
            </p>
            <strong class="govuk-tag govuk-tag--orange">
                Locked
            </strong>
        </div>
        <br />
        <hr style="border: 1px solid #d6d8da;">

        <!--fifth link-->
        <br />
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0;">
                Energy performance certificate (EPC)
            </p>
            <strong class="govuk-tag govuk-tag--orange">
                Locked
            </strong>
        </div>
        <br />
        <hr style="border: 1px solid #d6d8da;">

        <!--sixth link-->
        <br />
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0;">
                Upload documents
            </p>
            <strong class="govuk-tag govuk-tag--orange">
                Locked
            </strong>
        </div>
        <br />
        <hr style="border: 1px solid #d6d8da;">

        <br />
        <br />

    </div>
</div>

{% endblock %}
